$blue100: hsl(220, 98%, 61%);
$bgGradient:  linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$gray50: hsl(0, 0%, 98%);
$gray100: hsl(236, 33%, 92%);
$gray200: hsl(233, 11%, 84%);
$gray300: hsl(236, 9%, 61%);
$darkBlue200: hsl(235, 21%, 11%);
$darkBlue100: hsl(235, 24%, 19%);
$grayishBlue100: hsl(234, 39%, 85%);
$grayishBlue200: hsl(234, 11%, 52%);
$grayishBlue300: hsl(237, 14%, 26%);